/*
CSS file to prevent overwrite with other stuff; should be merged with index.css later :)
*/

#newFileMaker {
    cursor:copy;
}
#newFileMakerDiv {
    z-index:3;
    display:none; /*goes to visible*/
    position:absolute;
    top:55px;
    right:50px;
    padding:5px;
    border:1px black solid;
    background:white;
}